#intro {
    text-align: center;
    font-style: italic;
    width: 60%;

}

body {
    max-width: 1024px;
    min-width: 800px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 2px black;
    border-left: solid 2px black;
}

h1 {
    text-align: center;
    border-top: solid 2px lightblue;
    padding: 20px;
    border-bottom: solid 2px lightblue;
}

#intro {
    width: 60%;
    text-align: center;
    margin: auto;
}

/* ======= règles exercice 2 ======= */

nav {
    padding-top: 50px;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

nav > ul > li {
    background-color: lightgreen;
    border: 2px solid blue;
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    width: 150px;
}

nav > ul > li > ul {
    display: none;

}

ul {
    padding: 0;
    list-style: none;
}

/* ======= règles exercice 3 ======= */
a {
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: lightpink;
}

nav > ul > li > ul {
    display: none;
    width: 150px;
    padding: 0;
}

nav ul li:hover > ul {
    position: absolute;
    display: block;
    list-style-type: none;
    background-color: lightgreen;
}

nav ul li > ul > li {
    border: 1px solid;
}

nav ul li > ul > li:hover {
    border: 1px solid;
    background-color: lightpink;
}

/* ======= règles exercice 4 ======= */


section {
    float: left;
    width: 75%;
}

#twitterfeed {
    border-left: solid 1px red;
    margin-left: 75%;
    height: 500px;
}

/*==== règles exercice 5 ===*/

.cols {
    float: left;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
}

section {
    float: left;
    width: 75%;
}

#twitterfeed {
    border-left: solid 1px red;
    margin-left: 75%;
    height: 500px;
}

/*==== règles exercice 5 ===*/

.cols {
    float: left;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
}

#suite {
    clear: both;
}


.separator {
    height: 50px;
}