h1 {
    background-color: black;
    color: red;
}

h2 {
    text-decoration: underline;
}

strong {
    font-style: italic;
    font-weight: normal;
}

em {
    font-weight: bold;
    font-style: normal;
}

article > p > em {
    color: orange;
}

p::first-letter {
    color: red;
    font-weight: bold;

}

ul {
    list-style-type: circle;
}

ol > li:first-child {
    color: magenta;
}

ol > li:first-child ul {
    color: black;
}

ol > li:nth-child(2) ul > li:nth-child(2) {
    color: purple;
}

a:hover {
    color: red;
    text-decoration: none;
}


.acronym {
    font-variant: small-caps;
    color: green;
}

#mot_a_decorer {
    color: blue;
    text-decoration: underline;
}