body {
    max-width: 1024px;
    min-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid;
    border-right: 2px solid;
    display: flex;
    flex-direction: column;
}



header {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: lightblue;
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;

}


#intro {
    text-align: center;
    font-style: italic;
    width: 60%;

}
